//==============================================================================
// Variables
//==============================================================================
$system-fontstack : system-ui, -apple-system,
BlinkMacSystemFont, 'Segoe UI', 'Roboto',
'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif,
'Apple Color Emoji', 'Segoe UI Emoji',
'Segoe UI Symbol', 'Noto Color Emoji';
/* $main-fontstack: "Inter UI","Inter",Inter,Inter UI; */
/* $font-family: $main-fontstack,$system-fontstack !default; */
$font-family      : $system-fontstack !default;

$primary-color: #6000ff;
$current-page-link-bg: #121826;
$navigation-color:#212936;

//==============================================================================
// Placeholders
//==============================================================================

%visually-hidden {
	position    : absolute;
	white-space : nowrap;
	width       : 1px;
	height      : 1px;
	overflow    : hidden;
	border      : 0;
	padding     : 0;
	clip        : rect(0 0 0 0);
	clip-path   : inset(50%);
	margin      : -1px;
}
%list-reset {
	list-style      : none none;
	margin          : unset;
	padding         : unset;
	display         : flex;
	flex-direction  : column;
	justify-content : flex-start;
	width           : 100%;
	gap : 0;
	
	li {
		list-style      : none none;
		margin          : unset;
		padding         : unset;
		display         : block;
		width           : 100%;
	}
	
	@media screen and (min-width : 560px) {
		flex-direction  : row;
		justify-content : space-between;
		flex-wrap       : wrap;
		li {
			display : inline-flex;
			width   : auto;
			margin  : 0;
		}
	}
}
%container {
	width     : 96%;
	max-width : 65ch;
	margin    : 0 auto;
	@media screen and (min-width: 768px) {
		max-width : 70ch;
	}
	@media screen and (min-width : 960px) {
		max-width : 76ch;
	}
	@media screen and (min-width : 1280px) {
		max-width : 80ch;
	}
	@media screen and (min-width : 1440px) {
		max-width : 86ch;
	}
}
%fix-iOS-tap-highlight {
	user-select                 : none !important;
	appearence                  : none !important;
	-webkit-appearance          : none !important;
	touch-action                : manipulation !important;
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0.0) !important;
}
// @extend %fix-iOS-tap-highlight;
// document.addEventListener("touchstart", function(){}, true);

//==============================================================================
// Styles
//==============================================================================

.container, section, article, .site-and-page-title-wrapper {
	@extend %container;
}

.site-and-page-title-wrapper {
	padding : 2em 0;
	width : 100%;
	h1, h2, h3, h4, h5, h6 {
		line-height : 1.5;
	}
}

a,a:link,a:visited {
	cursor : pointer;
	transition : all 120ms;
	line-height : inherit;
	display : inline-block;
	font-weight : normal;
	font-size : 1em;
	@extend %fix-iOS-tap-highlight;
}

.brand-or-logo {
	// width : 1.5em;
	// height: 1.5em;
	text-align : center;
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-content : center;
	align-items : center;
	margin : .25em;
	opacity : .25;
	.brand-or-logo-text-content {
		@extend %visually-hidden;
	}
	.brand-or-logo-icon {
		background-repeat   : no-repeat;
		background-position : center;
		background-size     : 2.25em 2.25em;
		display             : inline-block;
		line-height         : 1;
		width               : 2.25em;
		height              : 2.25em;
		margin : auto;
		background-image    : url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'48\' height=\'48\' viewBox=\'0 0 48 48\'%3E%3Cg fill=\'%23ffffff\'%3E%3Cpath d=\'M11,15c0-2.206,1.794-4,4-4h18.474C30.8,5.112,24.877,1,18,1C8.626,1,1,8.626,1,18 c0,6.877,4.112,12.8,10,15.474V15z\'%3E%3C/path%3E %3Cpath fill=\'%23ffffff\' d=\'M45,13H15c-1.105,0-2,0.895-2,2v30c0,1.105,0.895,2,2,2h30c1.105,0,2-0.895,2-2V15 C47,13.895,46.105,13,45,13z\'%3E%3C/path%3E%3C/g%3E%3C/svg%3E');
	}
}

//------------------------------------------------------------------------------
// Navigation
//------------------------------------------------------------------------------

nav {
	background-color : $navigation-color ;
	color: white;
	width : 100%;
	margin : 0;
	padding : 0;
	position : relative;
	* {
		color: inherit;
		background-color : inherit;
	}
}

[aria-current='page'] {
	background : $current-page-link-bg;
	cursor : pointer;
	pointer-events: none;
	color : rgba(white,0.25);
	tab-index: '-2';
}

#mobile-navigation-menu-control {
	@extend %fix-iOS-tap-highlight;
	border : none;
	cursor : pointer;
	transition : background-color 150ms, outline-color 150ms;
	svg {
		position : relative;
		transition : transform 100ms;
		
		* {
			transition : transform 100ms, opacity 100ms;
			transform-origin: center;
		}
	}
	
	&:hover {
		background-color : darken($navigation-color, 5%);
	}
	&:focus {
		background-color : darken($navigation-color, 10%);
		outline          : solid 2px rgba($primary-color, 0.25);
		outline-offset   : -2px;
	}
	&:active {
		background-color : darken($navigation-color, 15%);
	}
}
#mobile-navigation-menu-control[aria-expanded='true'] {
	.navigation-menu-button-icon {
		// transform : translate3d(-8px, -8px, 0);
	}
	.menu-icon-line {
		// position : absolute !important;
		// z-index : 12;
		// left : 0;
		// right : 0;
		// top : 0;
		// bottom : 0;
	}
	.menu-icon-top-line {
		transform : translate3d(-10px, 10px, 0) rotate(45deg);
	}
	
	.menu-icon-middle-line {
		opacity : 0 !important;
	}
	
	.menu-icon-bottom-line {
		transform : translate3d(-10px, -10px, 0) rotate(-45deg);
	}
}
.mobile-navigation-menu-control-wrapper {

}
#mobile-navigation-menu-button-text-content {
	@extend %visually-hidden;
}
.navigation-menu-button-icon {

}

.navigation-menu {
	@extend %list-reset;
	li {
		a,a:link,a:visited {
			text-decoration : none;
			&:hover {
				background-color : darken($navigation-color,5%);
			}
			&:focus {
				background-color : darken($navigation-color, 10%);
				outline : solid 2px rgba($primary-color,0.25);
				outline-offset: -2px;
			}
			&:active {
				background-color : darken($navigation-color, 15%);
			}
		}
	}
}

@media screen and (max-width : 599px) {
	.site-and-page-title-wrapper {
		margin-top : 2.75em;
		text-align : center;
	}
	#navigation-menu {
		display : flex;
		flex-direction : column;
		justify-content : flex-start;
		width : 100%;
		transition : opacity 200ms ease-out;
		position : absolute;
		li {
			display : block !important;
			width : 100% !important;
			margin : 0;
			padding : 0;
			a {
				display : block !important;
				width : 100% !important;
				text-align : center !important;
				padding : 1em 0 !important;
			}
		}
		
		transform : translate3d(0, -50em, 0);
		opacity : 0;
		top    : 2.75em;
		left   : 0;
		right  : 0;
		bottom : 0;
		padding : 1em;
		
		&.is-active {
			transform : translate3d(0, 0, 0);
			opacity : 1;
			// position : relative;
			top : 2.75em;
			left : 0;
			right : 0;
			bottom : -1em;
			width : 100vw;
			height: 100vh;
		}
	}
	nav {
		// transition : all 200ms;
		position : fixed;
		z-index : 10;
		padding : 0 1.5em;
		overflow-y : visible;
		// height: 3em;
	}
	#mobile-navigation-menu-control {
		float : right;
	}
	.brand-or-logo-wrapper {
		float : left;
	}
	a {
		border-radius : .5em;
	}
}
@media screen and (min-width: 600px) {
	.mobile-navigation-menu-control-wrapper {
		display : none !important;
	}
	#mobile-navigation-menu-control {
		display : none !important;
	}
	
	nav {
		display : flex;
		flex-direction : row;
		justify-content : space-between;
		align-items : center;
		align-content : center;
	}
	.navigation-menu {
		width     : 96%;
		max-width : 65ch;
		margin    : 0 auto;
		@media screen and (min-width : 768px) {
			max-width : 70ch;
		}
		@media screen and (min-width : 960px) {
			max-width : 76ch;
		}
		@media screen and (min-width : 1280px) {
			max-width : 80ch;
		}
		@media screen and (min-width : 1440px) {
			max-width : 86ch;
		}
		
		flex-direction : row;
		justify-content : flex-end;
		
		li {
			a {
				padding : 1em;
			}
		}
	}
}

//------------------------------------------------------------------------------
// Skip-to-main-content Link
//------------------------------------------------------------------------------
.skip-to-main-content-link {
	position : absolute;
	top : 0;
	left : 2em;
	z-index : 100;
	text-decoration : none !important;
	transition : all 120ms;
	line-height : 1;
	font-size : 1em;
	padding : .5em 1em;
	font-weight : 600;
	color: white;
	background-color : $primary-color;
	border : none;
	border-radius : 0 0 1em 1em;
	transform : translate3d(0, -3em, 0);
	&:focus {
		transform : translate3d(0, 0, 0);
		outline : solid 3px rgba($primary-color, 0.25);
		outline-offset: -1px;
	}
}

//------------------------------------------------------------------------------
// Layout
//------------------------------------------------------------------------------
html {
	box-sizing : border-box !important;
	font-size : 100%;
	@media screen and (min-width: 400px) {
		font-size : 112.5%;
	}
	@media screen and (min-width : 768px) {
		font-size : 19px;
	}
	@media screen and (min-width : 960px) {
		font-size : 120%;
	}
	@media screen and (min-width : 1440px) {
		font-size : 125%;
	}
}
*,*::before,*::after {
	box-sizing : inherit !important;
}
html,body {
	margin : 0;
	padding : 0;
	width : 100vw;
	height : 100%;
	color: #212936;
	max-width : 100vw;
	overflow-x : hidden;
	line-height : 1;
	font-family : $font-family;
	position : relative;
}
body {
	font-size : 1em;
	min-height : 100vh;
	display : flex;
	flex-direction : column;
	justify-content : space-between;
}
main {
	width : 100%;
	margin : 0;
	padding : 1em 0;
	flex-grow : 1;
	font-family : inherit;
}
main > section, main > article {
	padding : 1em 0;
	margin-bottom : 2em;
}
body > footer:last-of-type {
	padding : 2em 0;
	background-color : ghostwhite;
	text-align : center;
	p {
		line-height : 1;
		margin : 0 auto;
		text-align : center;
		padding : 0;
		color: gray;
		font-size : small;
		vertical-align : middle;
	}
}

//------------------------------------------------------------------------------
// Typography
//------------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
	font-family : inherit;
	line-height : 1;
	margin : 0 auto 1rem;
	font-weight : 600;
	display : block;
	width : 100%;
	small {
		line-height : 1;
		margin      : 0 auto 1rem;
		font-weight : 500;
		display     : block;
		width       : 100%;
	}
}
p {
	font-family : inherit;
	line-height : 1.5;
	margin : 0 auto 1em;
	font-size : 1em;
}
h3,h4,h5,h6 {
	margin-top : 2rem;
}



.demo-headings {
	h1, h2, h3, h4, h5, h6 {
		line-height : 1 !important;
		margin : 0 auto 1rem !important;
	}
}
